.about {
    padding: 6rem 2rem;
    background-color: #fafafa;
}

.about h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.about p {
    margin-bottom: 1rem;
    line-height: 1.7;
    color: #333;
}