.hero {
    min-height: 100vh;
    padding: 6rem 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

.hero h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: #555;
}

.hero p {
    max-width: 600px;
    margin-top: 1.5rem;
    line-height: 1.6;
    color: #333;
}

.hero-actions {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.hero-actions a{
    text-decoration: none;
    padding: 0.75rem 1.25rem;
    border: 1px solid #111;
    color: #111;
    font-weight: 500;
    transition: all 0.2s ease;
}

.hero-actions a:hover {
    background-color: #111;
    color: #ffffff;
}