.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
}

.logo {
    font-weight: 700;
    font-size: 1.1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #111;font-weight: 500;
}